body {
    background-color: var(--neutral-dark);
    font-family: 'Outfit', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 25px;
}

.nft-card {
    max-width: 350px;
    background-color: var(--neutral-medium);
    border-radius: 15px ;
    padding: 25px;
}

.nft-card .image-link {
    position: relative;
    display: flex;
}

.nft-card .image-link .image {
    width: 100%;
    border-radius: 7px;
}

.nft-card .image-link::before {
    content: '';
    background-color: var(--primary-medium);
    width: 100%;
    height: 100%;
    border-radius: 7px;
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.nft-card .image-link::after {
    content: '';
    background: url(../images/icon-view.svg) no-repeat center;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    transition: 0.3s ease-in-out;
}

.nft-card .image-link:hover::before {
    display: block;
    opacity: 0.4;
}

.nft-card .image-link:hover::after {
    display: block;
    opacity: 1;
}

.nft-card .title-link .title {
    font-size: 22px;
    color: #ffffff;
    margin: 20px 0px 15px;
}

.nft-card .title-link .title:hover {
    color: var(--primary-medium);
}

.nft-card .about {
    color: var(--primary-soft);
    font-size: 19px;
    font-weight: 300;
    line-height: 25px;
    padding-bottom: 20px;
}

.nft-card .info-nft {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.nft-card .info-nft .price {
    color: var(--primary-medium);
    display: flex;  
}

.nft-card .info-nft .price::before {
    content: '';
    background: url(../images/icon-ethereum.svg) no-repeat center;
    display: inline-block;
    width: 15px;
    margin-right: 5px;
}

.nft-card .info-nft .days-left {
    color: var(--primary-soft);
    display: flex;
}

.nft-card .info-nft .days-left::before {
    content: '';
    background: url(../images/icon-clock.svg) no-repeat center;
    display: inline-block;
    width: 15px;
    margin-right: 5px;
}

.nft-card .info-creator {
    display: flex;
    align-items: center;
    padding-top: 15px;
    border-top: solid var(--neutral-soft) 1px;
}

.nft-card .info-creator .avatar {
    max-width: 35px;
    border: solid 1.5px #fff;
    border-radius: 50%;
    margin-right: 15px;
}

.nft-card .info-creator .text {
    color: var(--primary-soft);
    font-size: 17px;
}

.nft-card .info-creator .text .name {
    color: #ffffff;
}

.nft-card .info-creator .text .name:hover {
    color: var(--primary-medium);
}
